
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>DatePicker Example</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"/ >
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
</head>
<body>


<form method="post" action="">
	{{ form.dt() }}

	<script>
		$('#datetimepicker').datetimepicker();
	</script>

    <button type="submit">Go</button>
	<button onclick="self.close()">Close</button>
</form>

</body>
</html>
